<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments.html :: headerfiles"></div>
    <div th:replace="fragments.html :: footer-headerfiles"></div>
</head>

<body class="bg-light">
<header th:replace="fragments.html :: nav"></header>

<main class="content d-flex justify-content-center align-items-center">
    <div><h1>Spring CRUD Project</h1></div>
</main>

<footer th:replace="fragments.html :: footer"></footer>
<footer th:replace="fragments.html :: nav-jquery"></footer>
<footer th:replace="fragments.html :: nav-script"></footer>
</body>
</html>
